<div class="background-layout">
  <div class="control-section">
    <ejs-grid #grid [dataSource]="historyList" allowPaging="true" [pageSettings]="pageSettings" allowTextWrap="true"
      [allowSorting]="true" (dataBound)="dataBound($event)">
      <e-columns>
        <e-column field="nguoi_thuc_hien" headerText="Người thực hiện" width="100" textAlign="Left"></e-column>
        <e-column field="ten_nguoi_thuc_hien" headerText="Tên người thực hiện" width="150" textAlign="Left"></e-column>
        <e-column field="ngay_thuc_hien" headerText="Ngày thực hiện" width="100" textAlign="Left"></e-column>
        <e-column field="thao_tac" headerText="Thao tác" width="100" textAlign="Left"></e-column>
        <e-column width="80" textAlign="Left">
          <ng-template #template let-data>
            <button (click)="open(data.noi_dung)" class="tab-button save-btn">Thông tin chi tiết</button>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
<ejs-dialog #treeDialog header="Chi tiết lịch sử" [showCloseIcon]="true" (overlayClick)="close()" isModal="true"
  [visible]="false" (close)="close()">
  <ng-template #content>
    <table *ngIf="listDetail">
      <tr>
        <td>Năm</td>
        <td>{{listDetail?.nam}}</td>
      </tr>
      <tr>
        <td>Kỳ nhập liệu</td>
        <td>{{listDetail?.ky_nhap_lieu}}</td>
      </tr>
      <tr>
        <td>Phản hồi</td>
        <td>{{listDetail?.phan_hoi}}</td>
      </tr>
    </table>
    <hr>
    <ejs-treegrid #treegrid *ngIf="listDetail" [dataSource]="listDetail.data" childMapping="children"
      [treeColumnIndex]="0" allowPaging="true" [pageSettings]="pageSettings" [toolbar]="toolbar" [allowSorting]="true"
      [searchSettings]="searchSettings" expandStateMapping="expanded" (dataBound)="dataBoundTree($event)"
      (load)="onLoadTree()" allowTextWrap="true">
      <e-columns>
        <e-column field="ten_chi_tieu" headerText="Chỉ tiêu" width="140" isPrimaryKey="true" textAlign="Left">
        </e-column>
        <e-column field="ten_don_vi" headerText="Đơn vị" width="140" textAlign="Left"></e-column>
        <e-column *ngFor="let item of listDetail.label" [field]="item" [headerText]="item" width="140" textAlign="Left">
        </e-column>
        <e-column field="ghi_chu" headerText="Ghi chú" width="140" textAlign="Left">
        </e-column>
        <!-- <e-column headerText='' width='30' [commands]='commands'></e-column> -->
      </e-columns>
    </ejs-treegrid>
  </ng-template>
</ejs-dialog>
