
::ng-deep {
    .add-toolbar-btn {  
      background-color: #368fe7 !important;
    }
    .edit-toolbar-btn {
      background-color: #FFAF00 !important;
    }
    .delete-toolbar-btn {
      background-color: #FD3F42 !important;
    }
    .save-toolbar-btn {
      background-color: #39B894 !important;
    }
    .cancel-toolbar-btn {
      background-color: #A6A6A6 !important;
    }
  }