input[type="checkbox"] {
  width: 100%;
}
.filter-order {
  display: flex;
  justify-content: start;
  .filter-area {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .search-area {
      flex-basis: 30%;
      margin-right: 1%;
    }
    .selection-area {
      flex-basis: 9%;
      margin-right: 1%;
    }
    .selection-area:last-child {
      margin-right: 0;
    }
  }
}
.e-grid .e-content {
  overflow-x: hidden !important;
}

::ng-deep .e-grid .e-toolbar .e-search-icon {
  display: none !important;
}
::ng-deep .e-grid .e-checkselect, .e-grid .e-checkselectall{
  width: 0 !important;
}
