
<div class="control-section" #backgroundgrid>
  <ejs-treegrid
    #treegrid
    [dataSource]="roleList"
    childMapping="children"
    [treeColumnIndex]="0"
    allowPaging="true"
    [pageSettings]="pageSettings"
    [toolbar]="toolbar"
    [allowSorting]="true"
    [editSettings]="editSettings"
    [searchSettings]="searchSettings"
    (actionBegin)="actionBegin($event)"
    (rowSelected)="rowSelected($event)"
    (rowDeselected)="rowDeselected($event)"
    (actionComplete)="actionComplete($event)"
    (created)="created($event)"
    expandStateMapping="expanded"
    (dataBound)="dataBound($event)"
    (load)="onLoad()"
  >
    <e-columns>
      <e-column
        field="ten"
        headerText="Tên"
        width="250"
        textAlign="Left"
        [allowEditing]="true"
        [validationRules]="{ required: [true, 'Tên là bắt buộc'] }"
      >
    </e-column>
      <e-column
        field="ma_hanh_chinh"
        headerText="Mã hành chính"
        width="100"
        textAlign="Left"
        [validationRules]="{ min: [1, 'Giá trị tối thiểu là 1'] }"
        editType="numericedit"
      ></e-column>
      <e-column
        field="ngay_tao"
        headerText="Ngày tạo"
        width="100"
        textAlign="Center"
        type="date"
        [format]="{ type: 'date', format: 'yyyy-MM-dd' }"
        [allowEditing]="false"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
